.Project{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
}
.ProjectForm{
    display: flex;
    flex-direction: column;
}